html * {
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #7E57C2;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-body {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
  flex: 1;
}

.card-text {
  font-size: 2em;
}

.card-sm-text {
  font-size: 1.1em;
}

.card-footer {
  border-top: 1px solid rgba(68, 30, 30, 0.2);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.back-button-container {
  display: none;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.button-yes {
  color: #00BCD4;
}

.button-no {
  color: #F44336;
}

.card {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 2px;
}

.card-image {
  object-fit: contain;
  width: auto;
  height: 100px;
  margin: 5px;
}

.card-meaning {
  opacity: 0;
  padding: 18px;
  display: none;
  align-self: stretch;
  flex-flow: column;
  flex: 1;
}

.card-translation {
  font-weight: bold;
}

.card-example {
  margin-top: 10px;
  font-size: 0.8em;
}

@keyframes scaleup {
  to { height: 360px; }
}

@keyframes moveToHeaderX {
  from { left: 0px; }
  to { left: -100px; }
}

@keyframes moveToHeaderY {
  from { top: 48px; }
  to { top: 10px; }
}

@keyframes shrink {
  from { font-size: 2em; }
  to { font-size: 1.5em; }
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-origin {
  position: relative;
  font-size: 2em;
  top: 48px;
}

.card-origin.active {
  font-weight: bold;
  animation: shrink 0.2s ease-out 0s normal 1 forwards running,
             moveToHeaderX 0.2s ease-out 0s normal 1 forwards running,
             moveToHeaderY 0.2s ease-in 0s normal 1 forwards running;
}

.card.active {
  animation: scaleup 0.3s ease-out 0.2s normal 1 forwards running;
}

.card-meaning.active {
  display: flex;
}

.card-button-front.active {
  display: none;
}

.back-button-container.active {
  display: flex;
}

.back-button.active {
  animation: fadein 0.5s ease-out 0s normal 1 forwards running;
}

.card-meaning.active {
  animation: fadein 0.5s ease-out 0.2s normal 1 forwards running;
}
